.community-page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.community-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-text-color);
}
